@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
}

body{
    background-color: #84e1ad;
    margin: 0;
}

header{
    background-image: linear-gradient(to bottom, #39cd7b, #1a5c38);
    height: 175px;
}

header > div{
    text-align: center;
    color: white;
    text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.3);
}

#titulo_cabecalho{
    padding: 25px;
    font-family: 'Bebas Neue';
    font-size: 3rem;
}

#subtitulo_cabecalho{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.85);
}

nav{
    height: 30px;
    background-color: #1a5c37;
}

a{
    text-decoration: none;
}

nav a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.3);
    padding: 10px;
}

p a{
    color: #247f4d;
    font-weight: bold;
}

p a::after{
    content:'🔗'
}

main{
    margin: auto;
    background-color: white;
    max-width: 1000px;
    min-height: 100vh;
    box-shadow:
        5px 0 10px rgba(0,0,0,0.3),
        -5px 0 10px rgba(0,0,0,0.3);
    padding: 35px;
}

h1{
    font-family: 'idroid';
    color: #1a5c38;
    margin: 0;
}

h2{
    font-family: 'idroid';
    color: #1a5c38;
    margin: 0;
    font-size: 2em;
    background-image: linear-gradient(to right, #c6ebd7, white);
    padding-left: 15px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 2em;
    line-height: 1.5;
    font-size: 1.4em;
    text-align: justify;
}

p span{
    color: #247f4d;
    font-weight: bold;
}

picture img{
    width: 100%;
}

img{
    display: block;
    margin: auto;
}

#video {
    background-color: #1a5c38;
    margin-inline: -35px;
    text-align: center;
    padding: 35px;
}

#video iframe {
    width: 100%;
    max-width: 1000px;
    aspect-ratio: 16 / 9;
}

#caixa{
    border-radius: 10px;
    width: 100%;
    background-color: #a2e5bf;
}

#titcaixa{
    color: white;
    font-weight: bold;
    text-indent: 10px;
    background-color: #2b9a5d;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
}

ul{
    list-style: none;
}

li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}

#checkmark li::before{
    content: "✔ ";
}

#lista1{
    display: block;
    width: 300px;
}

#lista2{
    display: block;
    width:300px;
}

footer{
    background-color: #1a5c38;
    padding: 10px;
}

footer p {
    text-align: center;
    color: rgba(255, 255, 255, 0.85);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin: 0px;
    font-style: italic;
}

footer span{
    font-weight: bold;
    color: white;
    font-style: italic;
}

#caixa p{
    padding-right: 20px;
    padding-left: 20px;
}